.customarFAV{
  box-sizing: inherit;
}

    .column {
        position: relative;
        display: inline-block;
        margin:5px;
        float: left
    }
  
    .column .img1 {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index:99;

    }
   
   
   p{
    text-align: left;
     font-size:18px;
     padding-left:5px;
    font-family: 'Montserrat', sans-serif;
    }
  
    .column:hover .img1 {
        display: inline

    }
  
 .container {
  padding: 0 25px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  font-family: 'Montserrat', sans-serif;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: pink;
}
